@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik&display=swap');

@tailwind base;

body {
    @apply antialiased text-gray-900 font-body bg-gray-100;
}

h1 {
    @apply text-2xl font-black font-display tracking-wide;
}

h2 {
    @apply text-xl font-bold font-display;
}

h3 {
    @apply text-lg font-display;
}

@tailwind components;

@tailwind utilities;

.btn {
    @apply inline-block py-3 px-5 rounded text-sm tracking-wider font-semibold uppercase;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}